.section-hero{
    padding-top: 2rem;
    overflow: hidden;
}

.hero-grid{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 4.5rem;
    align-items: center;
    background-color: #cfcfcf;
    overflow: hidden;

}


.hero-text-box{
    padding-left:9.6rem;
}



.hero-intro{
    font-size: 1.8rem;
    color: black;
    font-weight: 600;
    margin-bottom: 2.4rem;

}

.hero-name{
    font-size: 4.8rem;
    color: black;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.hero-desc{
    font-size: 1.5rem;
    color: #333;
    letter-spacing: 0.5px;
    margin-bottom: 3.2rem;
}

.download-btn:link, .download-btn:visited{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 1.2rem 2.4rem;
    background-color: #000;
    display: inline-block;
    transition: all 0.3s;
}

.download-btn:hover, .download-btn:active{
    background-color:#666666 ;
    
}

.social-links{
    display: flex;
    gap: 2.4rem;
}

.social-logo{
    height: 2.4rem;
    width: 2.4rem;
    color: black;
    background-color:#afafaf;
    padding: 0.8rem;
    margin-top: 8rem;
    border-radius: 50%;
    transition: all 0.3s;
}

.social-logo:hover{
    background-color: #cfcfcf;
}


.hero-img{
    width: 100%;
    display: block;
    justify-self: end;
}


/* aside section */
.aside-section{
    background-color:#1c1c1c;
    color: #fff;
}

.aside-text-box{
    padding:2.4rem 4.8rem ;
}

.aside-text{
    font-size: 1.6rem;
    line-height: 1.5;
}

/* about section */
.section-about{
    padding:9.6rem 12.8rem ;
    background-color: #cfcfcf;
   
}

.about-intro{
    width: 50%;
    text-align: center;
    transform: translateX(50%);
}

.about-heading{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    padding: 1.6rem 3.2rem;
    color: black;
    border: 5px solid black;
    margin-bottom: 3.2rem;
    letter-spacing: 5px;
}

.about-text{
    font-size: 1.6rem;
    line-height: 2;
    margin-bottom:4.8rem ;
}

.about-explore{
    display: inline-block;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 600;
    padding:0 1.6rem;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.line{
    width: 50%;
    margin-top: 8rem;
    transform: translateX(50%);
    border:1.5px solid black;
}

.about-detail{
    padding-top: 4.8rem;
    width: 70%;
    transform: translateX(25%);
}

.about-grid{
    padding:4.8rem  0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4.8rem;

}

.design{
    position: relative;
    z-index: 999;

}

.development{
    position: relative;
    grid-column: 3/4;
    z-index: 999;

}

.maintanance{
    position: relative;
    grid-column:2/3;
    z-index: 999;

}

.about-desc{
    font-size: 1rem;
}

.about-logo{
    position: absolute;
    height: 4.8rem;
    width: 4.8rem;
    top: -2rem;
    left: -3rem;
    opacity: 15%;
    
    
}

/* skills */

.skills{
    text-align: center;
    padding-top: 4.8rem;
}

.skills-text{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.6rem 9.6rem;
    color: black;
    margin-bottom: 3.2rem;
    letter-spacing: 2px;
    text-align: left;
}



.skills-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap:2.4rem ;
    column-gap:4.8rem;
}

.skill-icons{
    height: 8rem;
    width: 8rem;
    margin-bottom: 1.6rem;
}

.html{
    color: #ff4500;
}

.css{
    color:#2965F1;
}

.js{
    color: #F7DF1E;
    background-color: #000;
    border: none;
}

.python{
    color: #3776AB;
}

.api{
    color:#5f5ffc ;
}

.django{
    color: #092E20;
}

.git{
    color: #F05032;
}

.ML{
    color: #3498DB;
}

.react{
    color: #61DAFB;
}

.docker{
    color: #2496ED;
}

.nodejs{
    color: #339933;
}

.skills-grid span{
    display: block;
    color: #000;
    font-size: 1.6rem;
}


/* portfolio section */
.portfolio{
    background-image: url(../images/Profile.jpg);
    height: 20rem;
    background-position: top;
    background-size: cover;
    z-index: -1;
}


.portfolio-text-section{
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    z-index: 10;
    padding-top: 10rem;

}

/* my portfolio */
.my-portfolio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}

.project-wrapper{
    overflow: hidden;
}

.project:link, .project:visited{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s;
}

.omnifood{
    background-image:linear-gradient(to right bottom, rgba(77, 77, 77, 0.60),rgba(77, 77, 77, 0.60)), url(../images/omnifood.jpg);
    background-size: cover;
    background-position: center;
    height: 24rem;
}

.blog{
    background-image:linear-gradient(to right bottom, rgba(77, 77, 77, 0.60),rgba(77, 77, 77, 0.60)), url(../images/blog.png);
    background-size: cover;
    background-position: center;
    height: 24rem;

}

.apis{
    background-image:linear-gradient(to right bottom, rgba(77, 77, 77, 0.60),rgba(77, 77, 77, 0.60)), url(../images/api.jpg);
    background-size: cover;
    background-position: center;
    height: 24rem;

}

.imgclassification{
    background-image:linear-gradient(to right bottom, rgba(77, 77, 77, 0.60),rgba(77, 77, 77, 0.60)), url(../images/cat.png);
    background-size: cover;
    background-position: center;
    height: 24rem;
    
}

.priceprediction{
    background-image:linear-gradient(to right bottom, rgba(77, 77, 77, 0.60),rgba(77, 77, 77, 0.60)), url(../images/price.jpg);
    background-size: cover;
    background-position: center;
    height: 24rem;

}

.heartdiseaseanalysis{
    background-image:linear-gradient(to right bottom, rgba(77, 77, 77, 0.60),rgba(77, 77, 77, 0.60)), url(../images/heart.jpg);
    background-size: cover;
    background-position: center;
    height: 24rem;

}

.project:hover, .project.active{
    transform: scale(1.1);
}

.project-outro{
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 1.6rem 0;
    background-color: #000;
}









