/* for smaller laptops or computers 1300px */
@media (max-width: 81em) {
  .section-hero{
    padding-top: 0.5rem;
  }
}

/* for landscape tablet  1200 */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container{
    max-width: 130rem;
  }
}

/* below 900 tablets */
@media (max-width: 56em) {
  html {
    font-size: 50%;
  }

    .container {
    max-width: 110rem;
  }
}

/* smaller tabs 750 */
@media (max-width: 47em) {
  .section-hero{
    padding-top: 0;
  }

  .hero-grid {
    grid-template-columns: 1fr;
    background-color: transparent;
  }

  .hero-text-box::before {
    content: "";
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../images/Profile.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: 0;
    inset: 0;
    position: absolute;
  }

  .hero-text-box {
    position: relative;
    display: flex;
    height: 50vh;
    justify-content: flex-start;
    align-items: center;
    background-color: none;
    padding: 2rem;
  }

  .hero-text-box > * {
    position: relative;
    z-index: 1;
  }

  .mobile-view {
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
  }

  .hero-img-box {
    display: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  .hero-intro {
    padding-top: 2rem;
    color: #fff;
  }

  .hero-name {
    color: #fff;
  }

  .hero-desc {
    color: #fff;
    margin-bottom: 2.4rem;
  }

  .social-links {
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr;
    color: #fff;
  }

  .social-logo {
    margin: 0;
  }

  .download-btn:link,
  .download-btn:visited {
    font-size: 2rem;
    background-color: #fcfcfc;
    color: #000;
    width: 600;
    margin-bottom: 2rem;
  }

  .social-logo {
    background-color: #fff;
  }

  .aside-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-grid {
    grid-template-columns: 1fr;
    width: 60%;
    transform: translateX(40%);
  }

  .development {
    grid-column: 1;
  }

  .maintanance {
    grid-column: 1;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .my-portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* below 580 */
@media (max-width: 36em) {
  html {
    font-size: 43.75%;
  }

  .about-heading {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  .about-text{
    line-height: 1.5;
  }
}


/* below 455 Mobile screen */
@media (max-width:28.4em){
    html {
    font-size: 37.5%;
  }
}
