/* for smaller laptops or computers 1300px */
@media (max-width: 81em) {
  .container {
    max-width: 110rem;
  }
}

/* for landscape tablet  1200 */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container {
    max-width: 105rem;
  }
}

/* below 900 tablets */
@media (max-width: 56em) {
  html {
    font-size: 50%;
  }
}

/* smaller tabs 750 */
@media (max-width: 47em) {
   

}
